.button {
    position: fixed;
    top:10px;
    right:10px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: -1px 4px 6px 3px rgba(20,20,20,.3);
    border: none;
    border-radius:50px;
}