.usercard {
    width:400px;
    background-color: #fff;
    margin: 10px auto;
    cursor: pointer;

    .cardHeader {
        padding-left: 10px;
    }
}

.activeUserCard {
    background-color: #AAA3FE;
}