.postList {
    display:flex;
    flex-direction:column;
    width: 65%;
    margin-left: 40px;
    align-items: center;
    background-color:#C4C4C4;

    .postsHeader{
        width: 350px;
        background-color: #fff;
        padding: 30px 10px;
        text-align: center;
    }

}